<div class="card p-10 mx-auto border-solid rounded-md border-sky-500 bg-sky-50 my-10">
    <p-toast />
    <form novalidate action="" method="post" class="mx-auto flex flex-col items-center gap-4 w-full max-w-md">
        <input pInputText [ngModel]="email()" (ngModelChange)="email.set($event)" [ngModelOptions]="{standalone: true}" type="text" placeholder="Email" class="w-full" />
        @if (emailErrorMessage()) {
            <p-message class="w-full" severity="error" variant="simple" size="small">Correo electrónico inválido</p-message>
        }
        <p-password
            class="w-full"
            styleClass="w-full"
            inputStyleClass="w-full"
            [ngModelOptions]="{standalone: true}"
            [ngModel]="contrasenia()"
            (ngModelChange)="contrasenia.set($event)"
            promptLabel="Ingresa una contraseña"
            weakLabel="Débil"
            mediumLabel="Media"
            strongLabel="Fuerte"
            [mediumRegex]="mediumRegex"
            [strongRegex]="strongRegex"
            autocomplete="off"
            placeholder="Contraseña"
            [toggleMask]="true"
        >
            <ng-template #footer>
                <p-divider />
                <ul class="my-0 leading-normal">
                    <li>Al menos 6 caracteres</li>
                </ul>
            </ng-template>
        </p-password>
        @if (contraseniaErrorMessage()) {
            <p-message class="w-full" severity="error" variant="simple" size="small">Contraseña muy corta</p-message>
        }
        <p-password
            class="w-full"
            styleClass="w-full"
            inputStyleClass="w-full"
            [ngModelOptions]="{standalone: true}"
            [ngModel]="confirmarContrasenia()"
            (ngModelChange)="confirmarContrasenia.set($event)"
            autocomplete="off"
            placeholder="Confirmar contraseña"
            [toggleMask]="true"
            [feedback]="false"
        >
        </p-password>
        @if (confirmarContraseniaErrorMessage()) {
            <p-message class="w-full" severity="error" variant="simple" size="small">Las contraseñas deben coincidir</p-message>
        }
        <p-button label="Registrarse" (onClick)="register()" />
    </form>
</div>
