<a routerLink="/producto/{{ product.id }}">
    <div
        class="h-full p-6 border border-surface-200 bg-surface-0 rounded flex flex-col sm:col-span-12"
    >
        <div class="product-image-container">
            <img
                [src]="productImageUrl"
                [alt]="product.nombre"
                (error)="onImageError($event)"
            />
        </div>
        <div class="pt-6">
            <div class="flex flex-row justify-between products-start gap-2">
                <div class="text-2xl font-semibold mt-1">{{ product.nombre }}</div>
            </div>
            <div class="flex flex-col gap-6 mt-6">
                <span class="text-lg font-medium">${{ product.precio }}</span>
            </div>
        </div>
    </div>
</a>
