<p-toast />
<form novalidate action="" method="post" class="mx-auto flex flex-col items-center gap-4 w-full max-w-md">
    <app-form-text-input
        #nameInput
        class="w-full" 
        placeholder="Nombre"
        [formSubmitted]="formSubmitted"
        [textPattern]="namePattern"
        errorMessage="El nombre debe tener entre 1 y 50 caracteres"
        (textValue)="name = $event"
        (isInputInvalid)="isNameInvalid = $event"
        [minLength]="1"
        [maxLength]="50"
    />

    <app-category-tree-select
        #parentCategoryInput
        class="w-full"
        [formSubmitted]="formSubmitted"
        selectionMode="single"
        placeholder="Seleccionar categoría padre (opcional)"
        [required]="false"
        (categorySelection)="parentCategory = $event"
    />
    
    <div class="grid grid-cols-2 gap-2 w-full">
        <app-primary-button
            class="w-full"
            styleClass="w-full"
            classes="w-full"
            label="Confirmar"
            (onClick)="confirm()"
        />
        @if (category) {
            <app-confirm-dialog-button
                class="w-full"
                buttonLabel="Eliminar"
                buttonIcon="pi pi-trash"
                buttonSeverity="danger"
                header="Confirmar eliminación"
                [message]="'¿Estás seguro de que deseas eliminar la categoría \'' + category.nombre + '\'?'"
                icon='pi pi-exclamation-triangle'
                acceptButtonLabel='Confirmar'
                rejectButtonLabel='Cancelar'
                [acceptMethod]="delete"
            />
        }
    </div>
</form>
