@media (max-width: 640px) {
  :host ::ng-deep {
    .p-dropdown .p-dropdown-label {
      font-size: 0.875rem;
    }
    
    .p-dropdown-panel .p-dropdown-items .p-dropdown-item {
      font-size: 0.875rem;
      padding: 0.5rem;
    }
  }
}


:host ::ng-deep {
  label[for="fileInput"] {
    flex-shrink: 0;
    min-width: 80px;
    white-space: nowrap;
  }
  
  .file-upload-container {
    min-width: 0;
    overflow: hidden;
  }
}
