<p-toast />
<form novalidate action="" method="post" class="mx-auto flex flex-col items-center gap-4 w-full max-w-md">
    <app-form-text-input
        #titleInput
        class="w-full" 
        placeholder="Título de la publicación"
        [formSubmitted]="formSubmitted"
        [textPattern]="titlePattern"
        [minLength]="1"
        [maxLength]="200"
        errorMessage="El título debe tener entre 1 y 200 caracteres"
        (textValue)="title = $event"
        (isInputInvalid)="isTitleInvalid = $event"
    />
    <div class="w-full text-right text-sm character-counter" [class]="titleCharCountClass">
        {{ titleCharCount }}/200 caracteres
    </div>
    
    <app-form-textarea-input
        #contentInput
        class="w-full" 
        placeholder="Contenido de la publicación"
        [formSubmitted]="formSubmitted"
        [textPattern]="contentPattern"
        [minLength]="1"
        [maxLength]="200"
        errorMessage="El título debe tener entre 1 y 200 caracteres"
        (textValue)="content = $event"
        (isInputInvalid)="isContentInvalid = $event"
    />
    <div class="w-full text-right text-sm character-counter" [class]="contentCharCountClass">
        {{ contentCharCount }}/200 caracteres
    </div>

    <app-image-upload-input
        #imageInput
        [required]="true"
        [maxFiles]="1"
        [maxFileSize]="5242880"
        [acceptedTypes]="'image/*'"
        [formSubmitted]="formSubmitted"
        (imagesValue)="newImage = $event"
        (removedImages)="onRemoveImage($event)"
        (isInputInvalid)="isImageInvalid = $event">
    </app-image-upload-input>
    
    <app-primary-button
        class="w-full"
        styleClass="w-full"
        [classes]="'w-full'"
        [label]="'Confirmar'"
        (onClick)="confirm()"
    />
</form>
