<p-menubar [model]="items">
    <ng-template #start>
        <a routerLink="/"><img src="logo-alfa.jpg" alt="Logo Alfa" style="height: 35px;"/></a>
    </ng-template>
    <ng-template #item let-item let-root="root">
        <a pRipple class="flex items-center p-menubar-item-link" [routerLink]="item.routerLink">
            <span>{{ item.label }}</span>
            <p-badge *ngIf="item.badge" [ngClass]="{ 'ml-auto': !root, 'ml-2': root }" [value]="item.badge"></p-badge>
            <span *ngIf="item.shortcut" class="ml-auto border border-surface rounded bg-emphasis text-muted-color text-xs p-1">
                {{ item.shortcut }}
            </span>
        </a>
    </ng-template>
    <ng-template #end>
        <div class="flex items-center gap-2">
            <input type="text" pInputText placeholder="Search" class="w-36" />
            <p-avatar image="./assets/avatar.png" shape="circle"></p-avatar>
        </div>
    </ng-template>
</p-menubar>
