<p-menubar [model]="items">
    <ng-template #start>
        <a routerLink="/"><img src="logo-alfa.jpg" alt="Logo Alfa" style="height: 35px;"/></a>
    </ng-template>
    <ng-template #item let-item let-root="root">
        <a pRipple class="flex items-center p-menubar-item-link" [routerLink]="item.routerLink">
            <span [class]="item.icon"></span>
            <span>{{ item.label }}</span>
        </a>
    </ng-template>
    <ng-template #end>
        <div class="flex items-center gap-2 m-2">
            <p-avatar image="logo-alfa.jpg" shape="circle"></p-avatar>
            <p class="ml-2">{{ userName }}</p>
        </div>
    </ng-template>
</p-menubar>
