<div class="card w-full">
    <p class="text-2xl font-semibold mb-4 ml-8 mt-3">Categorías</p>
    <p-tree
        [value]="categories"
        [selectionMode]="selectionMode"
        styleClass="w-full"
        [(selection)]="selectedCategory"
        (selectionChange)="onSelectionChange()"
    />
    @if (showMessage && categoriesLoaded && selectionMode === 'single' && selectedCategory) {
        <app-message
            classes="p-2 m-4"
            severity="secondary"
            icon="pi pi-info-circle"
            [message]="'Categoría seleccionada: ' + selectedDataNodes[0].nombre"
        />
    }
</div>
