.status-completado {
  color: #22c55e !important;
  font-weight: 600 !important;
}

.status-proceso {
  color: #f59e0b !important;
  font-weight: 600 !important;
}

.status-pendiente {
  color: #ef4444 !important;
  font-weight: 600 !important;
}